<app-basic-table-one [tableData]="users"    (toggle)="toggleUser($event)"   (deactivate)="deactivateUser($event)"></app-basic-table-one>
<app-button
        routerLink="/admin/create-user"
        variant="primary"
        size="md"
        className="flex items-center gap-2"
      >
        <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"/>
        </svg>
        Ajouter un utilisateur
</app-button>