<div class="overflow-hidden rounded-xl border border-gray-200 bg-white dark:border-white/[0.05] dark:bg-white/[0.03]">
  <div class="max-w-full overflow-x-auto">
    <table class="min-w-full">
      <!-- Table Header -->
      <thead class="border-b border-gray-100 dark:border-white/[0.05]">
        <tr>
          <th class="px-5 py-3 font-medium text-gray-500 text-start text-theme-xs dark:text-gray-400">Nom</th>
          <th class="px-5 py-3 font-medium text-gray-500 text-start text-theme-xs dark:text-gray-400">Prénom</th>
          <th class="px-5 py-3 font-medium text-gray-500 text-start text-theme-xs dark:text-gray-400">Téléphone</th>
          <th class="px-5 py-3 font-medium text-gray-500 text-start text-theme-xs dark:text-gray-400">Rôle</th>
          <th class="px-5 py-3 font-medium text-gray-500 text-start text-theme-xs dark:text-gray-400">Email</th>
          <th class="px-5 py-3 font-medium text-gray-500 text-start text-theme-xs dark:text-gray-400">Avatar</th>
        </tr>
      </thead>

      <!-- Table Body -->
      <tbody class="divide-y divide-gray-100 dark:divide-white/[0.05]">
        <tr *ngFor="let user of tableData">
          <td class="px-5 py-4 text-gray-700 text-theme-sm dark:text-white/90">{{ user.nom }}</td>
          <td class="px-5 py-4 text-gray-700 text-theme-sm dark:text-white/90">{{ user.prenom }}</td>
          <td class="px-5 py-4 text-gray-700 text-theme-sm dark:text-white/90">{{ user.phoneNumber }}</td>
          <td class="px-5 py-4 text-gray-700 text-theme-sm dark:text-white/90">{{ user.role }}</td>
          <td class="px-5 py-4 text-gray-700 text-theme-sm dark:text-white/90">{{ user.email }}</td>
          <td class="px-5 py-4">
            <div class="w-10 h-10 overflow-hidden rounded-full">
              <img 
                [src]="user.image " 
                [alt]="user.nom + ' ' + user.prenom"
                class="w-full h-full object-cover"
              />
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
